body {
    background: 
        url(../img/Patas.png) no-repeat top right,
        url(../img/background-superior.png) no-repeat top left, 
        url(../img/background-esquerda.png) no-repeat top 368px left, 
        var(--branco);
}

.cadastro {
    color: var(--azul);
    text-align: center;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
}

.cadastro__logo {
    width: 142.54px;
    height: 34.36px;

    margin-top: 2.25rem;
    margin-bottom: 1.5rem;
}

.cadastro__titulo {
    line-height: 21px;
    
    margin-bottom: 0.5rem;
}

.cadastro > .texto {
    line-height: 21px;
    
    padding: 0 1.5rem;

    margin-bottom: 1.5rem;
}

.cadastro__formulario {
    padding: 0 1.5rem;

    margin-bottom: 5.5rem;
}

@media screen and (min-width: 768px) {
    body {
        background:
        url(../img/Patas-tablet.png) no-repeat top right, 
        url(../img/background-superior-tablet.png) no-repeat top left, 
        url(../img/background-direita-tablet.png) no-repeat top 268px right, 
        var(--branco);
    }

    .cadastro__logo {
        width: 251.59px;
        height: 62px;
    
        margin-top: 6.6875rem;
    
        margin-bottom: 2.5rem;
    }

    .cadastro__titulo {
        font-size: 18px;
        line-height: 26px;
        
        margin-bottom: 0;
    }

    .cadastro > .texto {
        width: 70%;
    
        margin-bottom: 2.5rem;
    }

    .cadastro__formulario {
        padding: 0 13.25rem;
    
        margin-bottom: 10.5rem;
    }

    .cadastro__formulario > .botao {
        margin-top: 1rem;
    }
}