body {
    background: 
    url(../img/background-superior.png) no-repeat top left, 
    url(../img/background-direita.png) no-repeat top 200px right, 
    var(--azul);
}

.chamada {
    color: var(--branco);
    text-align: center;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
}

.chamada__logo {
    width: 186.67px;
    height: 46px;

    margin-top: 6.185rem;

    margin-bottom: 1.5rem;
}

.chamada > .titulo {
    margin-bottom: 1rem;
}

.chamada__texto--mobile {
    width: 248px;

    line-height: 24px;
    
    margin-bottom: 1.5rem;

    display: inline-block;
}

.chamada__texto--tablet {
    display: none;
}

.chamada__imagem {
    width: 247.34px;
    height: 312.77px;

    margin-top: 1rem;
}

@media screen and (min-width: 768px) {
    body {
        background: 
        url(../img/background-superior-tablet.png) no-repeat top left, 
        url(../img/background-direita-tablet.png) no-repeat top 268px right, 
        var(--azul);
    }

    .chamada__logo {
        width: 251.59px;
        height: 62px;

        margin-top: 11.5rem;
    
        margin-bottom: 2.5rem;
    }

    .chamada > .titulo {
        margin-bottom: 1.5rem;
    }

    .chamada__texto--mobile {
        display: none;
    }
    
    .chamada__texto--tablet {
        font-size: 18px;
        line-height: 26px;

        width: 344px;
                
        margin-bottom: 2.375rem;

        display: inline-block;
    }

    .chamada__imagem {
        width: 338.28px;
        height: 422px;

        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {
    body {
        background: 
        url(../img/background-superior-tablet.png) no-repeat top left, 
        url(../img/background-direita-tablet.png) no-repeat center right, 
        var(--azul);
    }

    .chamada__logo {
        width: 259.71px;
        height: 64px;

        margin-top: 2.75rem;
    }

    .chamada__texto--tablet {
        width: 488px;
                
        margin-bottom: 2rem;
    }

    .chamada__imagem {
        width: 346px;
        height: 431.63px;

        margin-top: 1rem;
    }

}