body {
    background: 
        url(../img/Patas.png) no-repeat top right,
        url(../img/background-superior.png) no-repeat top left, 
        url(../img/background-esquerda.png) no-repeat top 368px left, 
        var(--branco);
}

.login {
    color: var(--azul);
    text-align: center;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
}

.login__logo {
    width: 142.54px;
    height: 34.36px;

    margin-top: 5.4rem;
    margin-bottom: 3.5rem;
}

.login__titulo {
    line-height: 21px;
    
    margin-bottom: 2.625rem;
}

.login__link {
    font-size: var(--tamanho-legenda);
    font-weight: var(--peso-corpo);
    color: var(--coral);
    
    line-height: 24px;
    
    text-decoration: underline;

    margin-bottom: 1.5rem;

    display: block;
}

.login__formulario {
    padding: 0 1.5rem;

    margin-bottom: 14.5rem;
}

.login__formulario > #senha {
    margin-bottom: 0.5rem !important;
}

@media screen and (min-width: 768px) {
    body {
        background:
        url(../img/Patas-tablet.png) no-repeat top right, 
        url(../img/background-superior-tablet.png) no-repeat top left, 
        url(../img/background-direita-tablet.png) no-repeat top 268px right, 
        var(--branco);
    }

    .login__logo {
        width: 251.59px;
        height: 62px;
    
        margin-top: 10rem;
    
        margin-bottom: 2.5rem;
    }

    .login__titulo {
        font-size: 18px;
        line-height: 21px;
        
        margin-bottom: 2.5rem;
    }

    .login__formulario {
        padding: 0 13.25rem;
    
        margin-bottom: 26.125rem;
    }
}

@media screen and (min-width: 1440px) {
    body {
        background:
        url(../img/Patas-desktop.png) no-repeat top right, 
        url(../img/background-superior-tablet.png) no-repeat top left, 
        url(../img/background-direita-tablet.png) no-repeat top 180px right, 
        var(--branco);
    }

    .login__logo {
        width: 259.71px;
        height: 64px;
    
        margin-top: 2.75rem;
    
        margin-bottom: 4rem;
    }

    .login__titulo {
        margin-bottom: 4.5rem;
    }

    .login__formulario {
        padding: 0 27.75rem;
    
        margin-bottom: 21rem;
    }

    .login__formulario > .botao {
        font-weight: var(--peso-destaque-desktop);
    }
}