body {
    background: 
        url(../img/background-superior.png) no-repeat top left, 
        var(--branco);
}

.perfil {
    display: flex;
    flex-direction: column;

    width: 100%;

    box-sizing: border-box;
}

.perfil__texto {
    color: var(--azul);
    text-align: center;
    line-height: 20px;

    padding: 0 3.5rem;
    
    margin-top: 5.5rem;
    margin-bottom: 1.5rem;
}

.perfil__titulo {
    color: var(--cinza-escuro);
    text-align: center;
    line-height: 24px;

    font-family: var(--familia-corpo);
    font-size: var(--tamanho-destaque);
    font-weight: var(--peso-destaque);

    margin-bottom: 1rem;
}

.perfil__foto-usuario {
    width: 80px;
    height: 80px;

    margin-bottom: 0.25rem;

    align-self: center;
}

.perfil__legenda {
    font-size: var(--tamanho-legenda);
    font-weight: var(--peso-corpo);
    color: var(--coral);
    
    line-height: 24px;
    
    margin-bottom: 0.3125rem;

    display: block;

    align-self: center;
}

.perfil__botao {
    align-self: center;
}

@media screen and (min-width: 768px) {
    body {
        background: 
            url(../img/background-superior-tablet.png) no-repeat top left, 
            url(../img/background-direita-tablet.png) no-repeat top 268px right, 
            var(--branco);
    }

    .perfil {
        width: 524px;
        margin: 0 auto 2rem auto;
    }

    .perfil__texto {
        font-size: 18px;
        line-height: 26px;

        padding: 0;

        margin-top: 11.5625rem;
        margin-bottom: 1.625rem;
    }

    .perfil__legenda {
        margin-bottom: 1rem;
    }

    .formulario > .input--text-area {
        min-height: 104px;
    }

    .formulario > .botao {
        font-size: var(--tamanho-corpo);
    }
}

@media screen and (min-width: 1440px) {
    body {
        background:
        url(../img/background-superior-tablet.png) no-repeat top left, 
        url(../img/background-direita-tablet.png) no-repeat top 180px right, 
        var(--branco);
    }

    .perfil {
        width: 552px;
        margin: 0 auto 2rem auto;
    }

    .perfil__texto {
        margin-top: 5.4375rem;
        margin-bottom: 2rem;
    }
    
}