.cabecalho {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    padding-right: 2.3125rem;
    padding-left: 3rem;

    box-sizing: border-box;

    width: 100%;
}

.menu {
    display: grid;
    grid-template-columns: auto auto 3.66rem auto 1fr auto;
    align-items: center;

    height: 40px;

    box-sizing: border-box;
}

.cabecalho__logo {
    display: none;

    line-height: 0;

    margin-right: 4rem;

    grid-column: 1 / 1;
}

.cabecalho__icone--casa {
    line-height: 0;

    grid-column: 2 / 2;
}

.cabecalho__icone--mail {
    line-height: 0;

    grid-column: 4 / 4;
}

.cabecalho__icone--usuario {
    line-height: 0;

    grid-column: 6 / 6;
}

.menu__link {
    fill: var(--branco);
}

.menu__link:hover {
    fill: var(--coral);
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding-top: 4rem;
    }

    .cabecalho__logo {
        display: inline-block;
    }

}