.rodape {
    background-color: var(--verde);

    padding: 2.5rem 0;

    text-align: center;
}

.rodape__texto {
    color: var(--branco);
    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    font-weight: var(--peso-corpo);
    line-height: 24px;
}

@media screen and (min-width: 1440px) {
    .rodape {
        padding: 1.75rem 0;
    }
}